absl-py
altair
astunparse
attrs
beautifulsoup4
blinker
cachetools
certifi
charset-normalizer
click
cloudpickle
contourpy
cycler
filelock
flatbuffers
fonttools
gast
gdown
gitdb
gitpython
google-pasta
grpcio
h5py
idna
imbalanced-learn
jinja2
joblib
jsonschema
jsonschema-specifications
keras
kiwisolver
libclang
llvmlite
markdown
markdown-it-py
markupsafe
matplotlib
mdurl
ml-dtypes
namex
narwhals
numba
numpy
opt-einsum
optree
packaging
pandas
pillow
protobuf
pyarrow
pydeck
pygments
pyparsing
pysocks
python-dateutil
pytz
referencing
requests
rich
rpds-py
scikit-learn
scipy
seaborn
setuptools
shap
six
sklearn-compat
slicer
smmap
soupsieve
streamlit
tenacity
tensorboard
tensorboard-data-server
tensorflow
termcolor
threadpoolctl
toml
tornado
tqdm
typing-extensions
tzdata
urllib3
watchdog
werkzeug
wheel
wrapt
